.react-contextmenu {
  padding: 0.5em 0.5em;

  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.react-contextmenu-item {
  padding: 0.8em 0.8em;

  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;

  transition: all 0.15s ease-out;
}
.react-contextmenu-item:first-of-type {
  border-radius: 12px 12px 0 0;
}

.react-contextmenu-item:last-of-type {
  border-radius: 0 0 12px 12px;
}

.react-contextmenu-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.05s ease;
}
